<div class="w-screen h-screen overflow-hidden">
  <h2 class="text-center text-xl font-bold">歌单广场</h2>
  <ul class="flex text-[2vw] my-4">
    <li
      v-for="(item,index) in menu"
      class="mx-1"
      :class="{active:activeMenuItem==index}"
      @click="toggleMenu(index)"
    >
      {{ item.name }}
    </li>
  </ul>
</div>
